@font-face {
    font-family: "Roboto";
    src: url('/src/fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf');
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

body {
    background-color: #1c1f27;
    color: white;
}

header {
    display: grid;
    grid-template-columns: 1.7fr 2.5fr 1fr;
    margin-top: 1rem;
    margin-left: 1rem;
}


#navagation ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-top: 2.5rem;
    font-size: large;
}

#navagation ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

